<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microbox</title>
    <meta name="description" content="The Microbox is a collection of docker-friendliness images with minimal size for easy adaption and usage, or simply for inspiration." />
    <meta name="keywords" content="docker dockerui redis rethinkdb etcd gogs" />
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1>500</h1>
    <h3>{{ url }}</h3>
    <b>Error details:</b>
    <pre>
        {{ error }}
    </pre>
</div>
</body>
</html>
