{% extends 'site.server.layout.html' %} {% block body %}
<div class="container">
    <header class="clearfix">
        <div style="text-align: center"><img src="img/microbox-logo.png" width="320px" /></div>
        <br/>
        <br/>
        <h1 style="text-align: center">Hand-picked, Minified and Docker-friendliness Images</h1>
    </header>
    <div id="tabs" class="tabs">
        <nav>
            <ul>
                <li><a href="#section-1" class="icon-bulb"><span>Featured</span></a></li>
                <li><a href="#section-2" class="icon-like"><span>Popular</span></a></li>
                <li><a href="#section-3" class="icon-shop"><span>App</span></a></li>
                <li><a href="#section-4" class="icon-lab"><span>Service</span></a></li>
                <li><a href="#section-5" class="icon-data"><span>Data</span></a></li>
            </ul>
        </nav>
        <div class="content">
            <section id="section-1">
                <div class="mediabox">
                    <img src="img/dockerui.png" alt="img01" />
                    <h3>Docker UI</h3>
                    <p>DockerUI is a web interface to interact with the Remote API. The goal is to provide a pure client side implementation so it is effortless to connect and manage docker.</p>
                </div>
                <div class="mediabox">
                    <img src="img/etcd.png" alt="img02" />
                    <h3>Etcd</h3>
                    <p>A highly-available key value store for shared configuration and service discovery.</p>
                </div>
                <div class="mediabox">
                    <img src="img/gogs.png" alt="img03" />
                    <h3>Gogs</h3>
                    <p>Gogs(Go Git Service) is a painless self-hosted Git Service written in Go.</p>
                </div>
            </section>
            <section id="section-2">
                <div class="mediabox">
                    <img src="img/dockerui.png" alt="img01" />
                    <h3>Docker UI</h3>
                    <p>DockerUI is a web interface to interact with the Remote API. The goal is to provide a pure client side implementation so it is effortless to connect and manage docker.</p>
                </div>
                <div class="mediabox">
                    <img src="img/etcd.png" alt="img02" />
                    <h3>Etcd</h3>
                    <p>A highly-available key value store for shared configuration and service discovery.</p>
                </div>
                <div class="mediabox">
                    <img src="img/redis.png" alt="img02" />
                    <h3>Redis</h3>
                    <p>Redis is an open source, BSD licensed, advanced key-value cache and store. It is often referred to as a data structure server since keys can contain strings, hashes, lists, sets, sorted sets, bitmaps and hyperloglogs.</p>
                </div>
            </section>
            <section id="section-3">
                <div class="mediabox">
                    <img src="img/gogs.png" alt="img03" />
                    <h3>Gogs</h3>
                    <p>Gogs(Go Git Service) is a painless self-hosted Git Service written in Go.</p>
                </div>
                <div class="mediabox">
                    <img src="img/dockerui.png" alt="img01" />
                    <h3>Docker UI</h3>
                    <p>DockerUI is a web interface to interact with the Remote API. The goal is to provide a pure client side implementation so it is effortless to connect and manage docker.</p>
                </div>
            </section>
            <section id="section-4">
                <div class="mediabox">
                    <img src="img/etcd.png" alt="img02" />
                    <h3>Etcd</h3>
                    <p>A highly-available key value store for shared configuration and service discovery.</p>
                </div>
            </section>
            <section id="section-5">
                <div class="mediabox">
                    <img src="img/redis.png" alt="img02" />
                    <h3>Redis</h3>
                    <p>Redis is an open source, BSD licensed, advanced key-value cache and store. It is often referred to as a data structure server since keys can contain strings, hashes, lists, sets, sorted sets, bitmaps and hyperloglogs.</p>
                </div>
                <div class="mediabox">
                    <img src="img/rethinkdb.png" alt="img06" />
                    <h3>Rehinkdb</h3>
                    <p>RethinkDB is built to store JSON documents, and scale to multiple machines with very little effort. It has a pleasant query language that supports really useful queries like table joins and group by, and is easy to setup and learn.</p>
                </div>
            </section>
        </div><!-- /content -->
    </div><!-- /tabs -->
    <p class="info">Microbox v{{settings.VERSION}} Build with ♥ by <a href="https://coderbits.com/e2tox">Ling</a></p>
</div>
<script src="js/tabs.js"></script>
<script>
    new CBPFWTabs( document.getElementById( 'tabs' ) );
</script>
{% endblock %}
